<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-header></app-header>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content style="min-height: 100vh">
      <mat-progress-spinner class="loader-center" *ngIf='loadingBooks' color="accent" mode="indeterminate">
      </mat-progress-spinner>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="30">
            <app-search></app-search>
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Categories
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let category of categories">
              <mat-checkbox class="example-margin" value={{category}} #check (change)="filterBooks($event , check.value)" color='primary'>{{category}}</mat-checkbox>
            </div>
            <div id="filterAction">
              <button mat-raised-button color="primary" style="width: 100%" (click)="clearFilter()">Clear</button>
            </div>
          </mat-expansion-panel>

        </div>
        <div fxFlex class="books" fxLayout="row" style="padding-bottom: 100px;">
          <mat-card class="example-card" *ngFor="let item of books | async; let i=index" style="margin:10px;    margin-left: auto;
            margin-right: auto;">
            <mat-card-title-group>
              <mat-card-title> {{item.title}}</mat-card-title>
              <mat-card-subtitle>
               {{item.authors}}
              </mat-card-subtitle>
              <img mat-card-lg-image src="{{item.thumbnailUrl}}">
            </mat-card-title-group>

            <mat-card-content>
              <h5>ISBN: {{item.isbn}}</h5>
              <mat-chip-list>
                <mat-chip color="accent" selected="true">{{item.categories}}</mat-chip>

              </mat-chip-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/book', item.id]">View Details</button>
              <button *ngIf="!item.taken &&  !isAdmin" mat-raised-button color="primary" (click)="takeBook(item.isbn)">Take Book</button>
              <button *ngIf="item.taken  &&  !isAdmin" mat-raised-button color="warn" (click)="returnBook(item.isbn)">Return Book</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
