<mat-progress-bar mode="query" *ngIf="processing"></mat-progress-bar>
<div fxLayout="row" fxLayoutAlign="center center" class="signup">



  <mat-card  class="signup-card">
    <img mat-card-image src="assets/images/library.jpg" alt="">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Singup</mat-card-title>
      <mat-card-subtitle>Anytime Library</mat-card-subtitle>
    </mat-card-header>
    <form class="example-form" (ngSubmit)="signup()" [formGroup]="signupForm">
      <mat-card-content>


        <mat-form-field class="full-width">
          <input matInput placeholder="Enter your name" name="username" formControlName="displayName">
          <mat-error *ngIf="signupForm.controls.displayName.invalid && signupForm.controls.displayName.touched">Please enter your name</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Enter your email" name="email" formControlName="email">
          <mat-error *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched">Please enter valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" value="" name="password" formControlName="password">
          <mat-error *ngIf="signupForm.controls.password.hasError('minlength') && signupForm.controls.password.touched">Please enter minimum 8 characters</mat-error>
        </mat-form-field>


      </mat-card-content>
      <mat-card-footer>

        <button mat-raised-button color="primary" style="width: 100%" type="submit" [disabled]="!signupForm.valid">Signup</button>
        <a [routerLink]="['/auth/login']" style="padding: 10px;" fxLayout="row" fxLayoutAlign="space-around center">Already having an account?</a>
      </mat-card-footer>

    </form>

  </mat-card>

</div>
