<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="center center" class="signup">
  <mat-card flex="50" class="signup-card">
    <form class="example-form" [formGroup]="addBook" novalidate (ngSubmit)="save(addBook.value)">
      <mat-card-content>

        <mat-form-field class="full-width">
          <input matInput placeholder="Book Title" name="title" formControlName="title">
          <mat-error *ngIf="!addBook.controls.title.valid">Please enter the book title</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" style="display: none;">
          <input matInput placeholder="ID" name="id" formControlName="id">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Author" name="authors" formControlName="authors">
          <mat-error *ngIf="!addBook.controls.authors.valid">Please enter the book author</mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <input matInput placeholder="Category" name="categories" formControlName="categories">
          <mat-error *ngIf="!addBook.controls.categories.valid">Please enter the book category</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="ISBN" name="isbn" formControlName="isbn">
          <mat-error *ngIf="!addBook.controls.isbn.valid">Please enter the book ISBN</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Thumbnail URL" name="thumbnailUrl" formControlName="thumbnailUrl">
          <mat-error *ngIf="!addBook.controls.thumbnailUrl.valid">Please enter the book Thumbnail URL</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Discription" name="longDescription" formControlName="longDescription"> </textarea>
          <mat-error *ngIf="!addBook.controls.longDescription.valid">Please enter the Discription</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="primary" style="width: 100%" type="submit" [disabled]="!addBook.valid">Add Book</button>
      </mat-card-footer>

    </form>
  </mat-card>

</div>

